.navbar-section  {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: blue;
}
.navbar {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    justify-content: center;
    width: fit-content;
}
.nav-items {
    font-size: 1.6rem;
    list-style: none;
    display: flex;
    background-color: white;
    gap: 2rem;
    padding: 1rem 2rem;
    border-radius: 10rem;
    box-shadow: .5rem .5rem 100rem #b6b6b6;
}
.nav-items li {
    color: black;
}
.nav-link {
    padding: .8rem 1.5rem;
    border-radius: 10rem;
    transition: background 0.3s;
}
a {
    text-decoration: none;
}
.nav-link a {
    text-decoration: none;
    color: black;
}
.nav-link a:hover {
    color: black;
}
.active {
    background-color: rgba(214, 214, 214, 0.44);
}
.nav-link:hover {
    background-color: rgba(214, 214, 214, 0.44);
} 

